@model IEnumerable<Ghsaa.Models.MyEvent>

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recent Community Events</h2>

<p>
    Please tell your friends about these events.
</p>
@foreach (var item in Model) {
    <div>
        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
        <label>@item.EventDate.ToShortDateString()</label> &nbsp;
        @Html.DisplayFor(modelItem => item.EventTime) <br />

        @Html.DisplayFor(modelItem => item.Address)<br />

        @Html.DisplayFor(modelItem => item.Host) <br />
     
        
        Who is also going:<p>
        @*@foreach(Ghsaa.Models.Attendee attnd in item.Attendees )
        {    @(attnd.Name +",") }*@
        @foreach(string s in ViewBag.NameDic[item.Id])
        {   @s }             
        </p>
     
       

    
        @Html.ActionLink("Attending", "Show", new { id = item.Id })  <br />
</div>
       
}


